{% extends "base.jinja2" %}

{% block content %}
    
    <div class="d-flex justify-content-center">
        <form class="form" method="post" autocomplete="off">
            <h2>{% block title %}Edit{% endblock %} profile</h2>
            <br>
            {{ form.csrf_token }}

            {{ form.name.label }}
            {{ form.name(class_="form-control") }}

            {{ form.password1.label }}
            {{ form.password1(class_="form-control") }}

            {{ form.password2.label }}
            {{ form.password2(class_="form-control") }}

            {{ form.role.label }}: {{ form.role(class_="form-select") }}<br>

            <br>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="submit">Edit</button>
                </div>
                <div class="col">
                    <a href="{{ url_for('call_app.home') }}" class="btn btn-dark" type="button" class="btn-cancel">Cancel</a>
                </div>
            </div>
            <br>
        </form>
    </div>
    

{% endblock %}
