{% extends "base.jinja2" %}

{% block content %}
    
    <div class="d-flex justify-content-center">
        <form method="post" autocomplete="off" style="width: 500px;">
            <h2 style="text-align: center;">{% block title %}Register{% endblock %}</h2>

            {{ form.csrf_token }}

            {{ form.name.label }}
            {{ form.name(class_="form-control") }}

            {{ form.password1.label }}
            {{ form.password1(class_="form-control") }}

            {{ form.password2.label }}
            {{ form.password2(class_="form-control") }}

            {{ form.role.label }}: {{ form.role(class_="form-select") }}<br>

            <br>
            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit">Done</button>
                <a href="{{ url_for('account_app.sign_in') }}">
                    <button class="btn btn-secondary" type="button" class="btn-cancel">Cancel</button>
                </a>
            </div>
        </form>
    </div>

{% endblock %}
