{% extends "base.jinja2" %}

{% block content %}

    <div class="d-flex justify-content-center">
        <form class="form" method="post" autocomplete="off">
            <h2 style="text-align: center;">{% block title %}Login{% endblock %}</h2>            
            <hr>
            {{ form.csrf_token }}

            {{ form.register.label }}
            {{ form.register(class_="form-control") }}

            {{ form.password.label }}
            {{ form.password(class_="form-control") }}

            <br>
            <div class="text-center">
                <button style="width: 40%;" class="btn btn-success" type="submit">Login</button>
                <a style="width: 40%;" href="{{ url_for('index') }}" class="btn btn-secondary" type="button" class="btn-cancel">Cancel</a>
                <br>
                <a href="{{ url_for('account_app.sign_up') }}">Create account</a>
            </div>
        </form>
    </div>
    
{% endblock %}
