{% extends "base.html" %}

{% block content %}

    <div class="d-flex justify-content-center">
        <form method="post" autocomplete="off" style="width: 500px;">
            <h2 style="text-align: center;">{% block title %}Login{% endblock %}</h2>
            <br>

            {{ form.csrf_token }}

            {{ form.matricula.label }}<br>
            {{ form.matricula(class_="form-control") }}<br>

            {{ form.password.label }}<br>
            {{ form.password(class_="form-control") }}<br>
            <br>

            <div style="text-align: center;">
                <button class="btn btn-success" type="submit">Login</button>
                <a href="/">
                    <button class="btn btn-warning" type="button" class="btn-cancel">Cancelar</button>
                </a>
                <br>
                <a href="/account/sign_up">Criar conta</a>
            </div>
        </form>
    </div>
    
{% endblock %}
