
{% extends "base.jinja2" %}

{% block content %}
    <h2>Attendance {% block title %}confirmation{% endblock %}</h2>
    <br>
    
    <div class="d-flex justify-content-center">
        <form action="{{ url_for('call_app.frequency_new', id_call=id_call, expiration=expiration)}}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input hidden id="lat" type="text" name="lat" value="" >
            <input hidden id="lon" type="text" name="lon" value="" onchange="()=>{alert('Localization getted')}">
            <button class="btn btn-success" type="submit">Confirm</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/getLocation.js') }}"></script>

{% endblock %}

