
{% extends "base.jinja2" %}

{% block content %}
    <h2>Attendance {% block title %}confirmation{% endblock %}</h2>
    <br>
    
    <div class="d-flex justify-content-center">
        <form action="{{ url_for('chamada_app.frequency_new', id_call=id_call, expiration=expiration)}}" method="post">
            <input hidden id="lat" type="text" name="lat" value="" >
            <input hidden id="lon" type="text" name="lon" value="" onchange="()=>{alert('Localization getted')}">
            <button class="btn btn-primary" type="submit">Confirm</button>
        </form>
    </div>

    <script src="/static/js/getLocation.js"></script>

{% endblock %}

