{% extends "base.jinja2" %}

{% block content %}
    <h2>
        {% block title %}QRcode{% endblock %}
    </h2>
    <ul>
        <li>The code is valid for 10 minutes!</li>
        <li>Unable to return to this page when leaving this page</li>
    </ul>

    <img src="{{ url_for('call_app.gen_qrcode', id_call=id_call) }}" style="max-width: 90%;">
    

{% endblock %}
