
{% extends "base.jinja2" %}

{% block content %}
    <h2>
        {% block title %}Rolls Call{% endblock %}
        
        {% if current_user.role == role.PROFESSOR %}
            <form action="{{ url_for('call_app.call_new', slug=slug)}}" method="post">
                <input hidden name="csrf_token" value="{{ csrf_token() }}">
                <input hidden id="lat" type="text" name="lat">
                <input hidden id="lon" type="text" name="lon">
                
                <button style="float: right;" class="btn btn-primary" type="submit">
                    Add rollscall
                </button>
            </form>
        {% endif %}
    </h2>
    <br>
    <table class="table">
        <tr>
            <th>Date</th>
            {% if current_user.role == role.PROFESSOR %}
            <th>Action</th>
            {% elif current_user.role == role.STUDENT %}
            <th>Frequencie</th>
            {% endif %}
        </tr>
        {% for c in rollscall %}
        <tr>
            <td>{{ c["date"] }}</td>
            {% if current_user.role == role.PROFESSOR %}
            <td>
                <a href="{{ url_for('call_app.frequency_list', id_call=c['id'], date=c['date']) }}" style="text-decoration: none;">list</a>
            </td>
            {% elif current_user.role == role.STUDENT %}
            <td>{{ "Present" if c["presente"] else "Absent" }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <script src="/static/js/getLocation.js"></script>

{% endblock %}

