
{% extends "base.jinja2" %}

{% block content %}
    <h2>
        {% block title %}Rolls Call{% endblock %}
        
        {% if current_user.role == role.PROFESSOR %}
            <form action="{{ url_for('call_app.call_new', id_class=id_class)}}" method="post">
                <input hidden id="lat" type="text" name="lat" value="">
                <input hidden id="lon" type="text" name="lon" value="">
                
                <button style="float: right;" class="btn btn-primary" type="submit">
                    Add rollscall
                </button>
            </form>
        {% endif %}
    </h2>
    <br>
    <table class="table">
        <tr>
            <th>Date</th>
            {% if current_user.role == role.PROFESSOR %}
            <th>Action</th>
            {% else %}
            <th>Frequencie</th>
            {% endif %}
        </tr>
        {% for c in calls %}
        <tr>
            <td>{{ c["date"] }}</td>
            {% if current_user.role == role.PROFESSOR %}
            <td>
                <a href="{{ url_for('call_app.frequencie_list', id_call=c['id'], date=c['date']) }}" style="text-decoration: none;">
                    list
                </a>
            </td>
            {% else %}
            <td>{{ "Presente" if c["presente"] else "Ausente" }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <script>
        var lat, lon = "";
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(
                (position)=>{
                    lat = position.coords.latitude;
                    lon = position.coords.longitude;

                    console.log(lat, lon);
                },
                (err) => {
                    console.log(err.message);
                    alert("Erro ao obter localização!");
                }
            );
        } else {
            alert("Navegador não suporta geolocalização!");
        }
        function redirect(path) {
            window.location.href=path+`&lat=${lat}&lon=${lon}`;
        }
    </script>

{% endblock %}

