{% extends "base.html" %}

{% block content %}
    <h2>{% block title %}Adicionando{% endblock %} aluno</h2>
    
    <div class="d-flex justify-content-center">
        <form method="post" autocomplete="off">
            {{ form.csrf_token }}

            {{ form.mat.label }}<br>
            {{ form.mat }}<br>

            <input hidden type="text" name="id_turma" value="{{ id_turma }}">

            <br>
            <button class="btn btn-success" type="submit">Adicionar</button>
            <a href="/chamada">
                <button class="btn btn-warning" type="button" class="btn-cancel">Cancelar</button>
            </a>
        </form>
    </div>

{% endblock %}
