
{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Confirmação{% endblock %} de frequencia
    </h2>
    <br>
    
    <div class="d-flex justify-content-center">
        <form action="{{ url_for('chamada_app.frequencia_new', id_chamada=id_chamada, expiration=expiration)}}" method="post">
            <input hidden id="lat" type="text" name="lat" value="">
            <input hidden id="lon" type="text" name="lon" value="">
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </form>
    </div>

    <script src="/static/js/getLocation.js"></script>

{% endblock %}

