
{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Frequencias{% endblock %}
    </h2>
    <br>
    {% if current_user.professor %}
    <a style="text-decoration: none;">
        <button onclick="redirect('/chamada/add_chamada?id_turma={{ id_turma }}')" class="btn btn-light">Adicionar chamada</button>
    </a>
    {% endif %}

    <table class="table">
        <tr>
            <th>Data</th>
            {% if current_user.professor %}
            <th>Action</th>
            {% else %}
            <th>Frequencia</th>
            {% endif %}
        </tr>
        {% for c in chamadas %}
        <tr>
            <td>{{ c["date"] }}</td>
            {% if current_user.professor %}
            <td>
                <a href="/chamada/lista?dia={{ c['date'] }}&id_chamada={{ c['id'] }}" style="text-decoration: none;">
                    lista
                </a>
            </td>
            {% else %}
            <td>{{ "Presente" if c["presente"] else "Ausente" }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <script>
        var lat, lon = "";
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(
                (position)=>{
                    lat = position.coords.latitude;
                    lon = position.coords.longitude;

                    console.log(lat, lon);
                },
                (err) => {
                    console.log(err.message);
                    alert("Erro ao obter localização!");
                }
            );
        } else {
            alert("Navegador não suporta geolocalização!");
        }
        function redirect(path) {
            window.location.href=path+`&lat=${lat}&lon=${lon}`;
        }
    </script>

{% endblock %}

