
{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Alunos{% endblock %}
        <!-- Button trigger newAlunoModal -->
        <button style="float: right;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newAlunoModal">
            Adicionar aluno
        </button>
    </h2>
    <br>
    <table class="table">
        <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Action</th>
        </tr>
        {% for a in alunos %}
        <tr>
            {% if not a.professor %}
            <td>{{ a.matricula }}</td>
            <td>{{ a.name }}</td>
            <td>
                <a href="/chamada/del_aluno/{{ id_turma }}?id_aluno={{ a.id }}">Remover</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <!-- Modal: add student -->
    <div class="modal fade" id="newAlunoModal" tabindex="-1" role="dialog" aria-labelledby="newAlunoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="newAlunoModalLabel">Adicionar aluno</h5>
            </div>
            <form method="post" action="/chamada/add_aluno/{{ id_turma }}" autocomplete="off">
                <div class="modal-body">
                    {{ form_aluno.csrf_token }}

                    {{ form_aluno.mat.label }}<br>
                    {{ form_aluno.mat(class_="form-control", type_="number") }}<br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
        </div>
    </div>

{% endblock %}

