{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Lista de frequencia{% endblock %} do dia: {{ dia }}
    </h2>
    <br>
    <table class="table">
        <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Distancia</th>
            <th>Action</th>
        </tr>
        {% for a in alunos %}
            <tr>
                <td>{{ a[0].matricula }}</td>
                <td>{{ a[0].name }}</td>
                <td>{{ a[1] if a[1]!=None else '' }}</td>
                <td>
                    <a href="{{ url_for('chamada_app.frequencias_rejeitar', id_chamada=id_chamada, id_user=a[0].id) }}">Rejeitar</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
