<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scala=1.0">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    {{ bootstrap.load_css() }}

    <link rel="stylesheet" href="static/media/style.css">
    <link rel="shortcut icon" href="/static/media/icon.png" type="image/png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="padding-left: 10px;">ePresence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuItems">
            <ul class="navbar-nav" style="padding-left: 10px;">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/account/sign_in">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/account/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="alert" class="alert alert-{{ messages[0][0] }}">
            {{ messages[0][1] }}

            <button onclick="close_alert()" type="button" class="btn-close" style="float: right;"></button>
        </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <br>
        {% block content %}{% endblock %}
    </div>

    <footer class="text-center text-white bg-dark fixed-bottom">
        <div class="text-center p-3">
            © 2023 Copyright:
            <a class="text-white" href="https://oseias-romeiro.github.io/">OseiasRomeiro</a>
        </div>
    </footer>

    <!-- Bootstrap -->
    {{ bootstrap.load_js() }}

    <script src="/static/js/app.js"></script>
</body>
</html>
