<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scala=1.0">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="shortcut icon" href="/static/media/icon.png" type="image/png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ChamadaEletronica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuItems">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/account/sign_in">Sing in</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/account/profile">Porfile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/logout">Logout</a>
                </li>
                {% if current_user.professor %}
                <li class="nav-item">
                    <a class="nav-link" href="/chamada/add_turma">Add turma</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="alert" class="alert alert-{{ messages[0][0] }}">
            {{ messages[0][1] }}

            <button onclick="close_alert()" type="button" class="btn-close" style="float: right;"></button>
        </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <br>
        {% block content %}{% endblock %}
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="/static/js/app.js"></script>
</body>
</html>