{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Bem vindo{% endblock %}, {{ current_user.name }}.
    </h2>
    <br>

    <ul class="list-group">
        <li class="list-group-item active">Turmas
            <div style="float: right;">
                {% if current_user.professor %}
                <!-- Button trigger newTurmaModal -->
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#newTurmaModal">
                    Criar turma
                </button>
                {% endif %}
            </div>
        </li>
        {% if turmas %}
            {% for t in turmas %}
            <li class="list-group-item">
                {{ t.name }}
                <div style="float: right;">
                    {% if current_user.professor %}
                    <div class="dropdown dropstart">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('chamada_app.turma_alunos', id_turma=t.id) }}">Alunos</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('chamada_app.turma_delete', id_turma=t.id) }}">Remover</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('chamada_app.turma_frequencias', id_turma=t.id) }}">Chamada</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a href="{{ url_for('chamada_app.turma_frequencias', id_turma=t.id) }}">Chamada</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        {% else %}
        <br>
        <p>Você não está cadastrado em nenhuma turma!</p>
        {% endif %}
    </ul>
  
    <!-- Modal: create class -->
    <div class="modal fade" id="newTurmaModal" tabindex="-1" role="dialog" aria-labelledby="newTurmaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="newTurmaModalLabel">Nova turma</h5>
            </div>
            <form method="post" action="{{ url_for('chamada_app.turma_new') }}" autocomplete="off">
                <div class="modal-body">
                    {{ form_turma.csrf_token }}
        
                    {{ form_turma.name.label }}<br>
                    {{ form_turma.name(class_="form-control") }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>
            </form>
        </div>
        </div>
    </div>

{% endblock %}
