{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Bem vindo{% endblock %}, {{ current_user.name }}.
    </h2>
    
    <h3>Turmas</h3>

    <ul class="list-group">
        {% for t in turmas %}
        <li class="list-group-item">
                {{ t.name }}
                <div style="float: right;">
                    {% if current_user.professor %}
                    <div class="dropdown dropstart">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/chamada/list_alunos?id_turma={{ t.id }}">Alunos</a></li>
                        <li><a class="dropdown-item" href="/chamada/del_turma?id_turma={{ t.id }}">Remover</a></li>
                        <li><a class="dropdown-item" href="/chamada/frequencias?id_turma={{ t.id }}">Frequencia</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a href="/chamada/frequencias?id_turma={{ t.id }}">Frequencia</a>
                    {% endif %}
                </div>
            </div>
            
        </li>
        {% endfor %}
    </ul>

{% endblock %}
