{% extends "base.html" %}

{% block content %}
    <h2>
        {% block title %}Bem vindo{% endblock %}, {{ current_user.name }}.
    </h2>
    <br>
    <table class="table">
        <tr>
            <th>Turmas</th>
            <th>Action</th>
        </tr>
        {% for t in turmas %}
            <tr>
                <td>{{ t.name }}</td>
                {% if current_user.professor %}
                <td>
                    <a href="/chamada/list_alunos?id_turma={{ t.id }}" style="text-decoration: none;">
                        <button class="btn btn-light">Alunos</button>
                    </a>
                    <a href="/chamada/del_turma?id_turma={{ t.id }}" style="text-decoration: none;">
                        <button class="btn btn-light">Remover Turma</button>
                    </a>
                    <a href="/chamada/frequencias?id_turma={{ t.id }}" style="text-decoration: none;">
                        <button class="btn btn-light">Frequencia</button>
                    </a>
                </td>
                {% else %}
                <td>
                    <a href="/chamada/frequencias?id_turma={{ t.id }}">Frequencia</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
